/* Page style - Home */
.puzzle-box {
    position: relative;
    background-color: #ffe3a7;
    border: 2px solid #0C0C0C;
    border-radius: 15px;
    min-height: 500px;
    height: auto;
    margin: 0 20px;
    padding-bottom: 70px;
}

.img-text-container {
    display: flex;
}

.puzzle-box .home-text {
    display: inline-block;
}

.home-text {
    max-width: auto;
    padding: 1em;
}

.puzzle-box .button-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.puzzle-box .start-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.puzzle-box .audio-container {
    display: flex;
    gap: 5px; /* Adjust gap as needed */
    position: absolute;
    right: 10px;
}

.puzzle-box .button,
.puzzle-box .start-container .start-btn,
.puzzle-box .audio-container .audio-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border: none;
    border-radius: 10px;
    width: 70px; /* Set a fixed width */
    height: 50px; /* Set a fixed height */
    cursor: pointer;
    color: #FEFFE2;
    box-shadow: 1px 1px 10px 2px #0C0C0C;
    text-decoration: none;
    margin: 0 5px; /* Adjust margin as needed */
    font-size: 16px; /* Ensure consistent font size */
}
