* {
    user-select: none;
}

/* CSS for styling the graph container */
#graph-container {
    width: 900px;
    height: 500px;
    position: relative;
    margin: 100px auto 0px auto;
    /* border: 1px solid white;  */
}

.check-btn {
    background: #EEEDEB;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: 0 0 20px 2px #B4B4B8;
}

.puzzle-q1 p, .puzzle-q2 p, .puzzle-q3 p {
    text-align: center;
    margin-top: 20px;
}

.puzzle-q1 #result1, .puzzle-q2 #result2, .puzzle-q3 #result3 {
    padding: 0 0 10px 0;
    text-align: center;
}

.q-answer {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px
}

.user-input {
    font-family: inherit;
    font-size: inherit;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
}

.user-input::placeholder{
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.check-result {
    text-align: center;
    padding: 10px;
}

.check-result #result1 {
    padding: 0 0 10px 0;
    text-align: center;
}

@media (max-width: 1250px) {
    .answer_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}
