.table-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Ensure table can be scrolled horizontally if it overflows */
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    white-space: nowrap; /* Ensure that content doesn't wrap and maintains its width */
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.header-row th {
    background-color: #333;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    th, td {
        padding: 5px;
    }
}
